@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or in a <style> tag in your Home component */
html, body {
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
}

.home-container {
    height: 100vh;
    overflow: hidden;
}